body {
  margin: 0;
  font-family: Questrial;
}

.navbar-custom {
  background-image: linear-gradient(
    to bottom right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );
  color: white;
}

.right {
  margin-left: 40%;
}

.navbar-dark .navbar-custom {
  color: white;
}

#purpose {
  height: cover;
}

.purpose-div {
  height: cover;
}

.header {
  margin-top: 70px;
  margin-bottom: 70px;
}

.header h1 {
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
}

.row-insert {
  background-image: linear-gradient(to bottom right, #5ce1e6, #38b6ff, #5271ff);
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(77, 73, 73);
}

.select-coins {
  margin-top: 15px;
  padding-top: 15px;
  width: 94%;
  height: cover;
  padding: 30px;
  margin: auto;
  display: flex;
  border-width: 17px;
  border-radius: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom right, #5ce1e6, #38b6ff, #5271ff);
}

.select-coins-back {
  background-color: black;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  background-image: linear-gradient(
    to right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );
  padding-top: 25px;
}

.edit-btn {
  color: white;
  width: 126%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.delete-btn {
  color: white;
  width: 126%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.select-coin-image {
  border-radius: 50%;
  padding: 5px;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 5px;
  border: 3px solid black;
}

.select-coin-image:hover,
.select-coin-image:focus {
  opacity: 0.7;
  box-shadow: 0 0.95em -0.4em var(--hover);
  transform: translateY(-0.45em);
  border: 5px solid rgb(0, 0, 0);
}

.select-coin-image img {
  height: 40px;
}

.select-coin-image img:hover,
img:focus {
  box-shadow: 0 0.2em -0.1em var(--hover);
  transform: translateY(-0.05em);
}

#cell8{
    border: 3px solid black;
    border-right: none;
}

#cell9 {
  border-right: none;
  border-left: none;
}

#cell10 {
  border-left: none;
}

.bor tr th{
    border: 3px solid black;
}

.dashboard-header {
  height: cover;
  background-color: rgb(0, 0, 0);
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inputAmt {
  width: 50px;
}

.token-div {
  height: 80px;
  background-color: aliceblue;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding-right: 45px;
  position: relative;
  border-bottom: 2px solid black;
}

.port-table {
  margin-top: -17px;
}

.dashboard-token-img {
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}

.bor {
  background-image: linear-gradient(to right, rgb(43, 132, 173), rgb(40, 10, 172));
  border: 1px solid white;
  color: white;
  border-bottom: 3px solid black;
}

#port {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#snap {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#gain {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.trigger {
  width: 100%;
  height: cover;
  margin: 0;
  display: flex;
  border-bottom: 5px solid white;
  color: white;
  position: relative;
}

.rec {
  letter-spacing: 1.4px;
  width: 100%;
  height: cover;
  background-image: linear-gradient(
    to bottom right,
    rgb(25, 196, 39),
    rgb(8, 129, 243)
  );
  margin: 0;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: -7px;
  flex-wrap: wrap;
}

.loyal {
  background-image: linear-gradient(
    to right,
    rgb(25, 196, 39),
    rgb(8, 129, 243)
  );
  letter-spacing: 1.4px;
  font-size: 50px;
  color: white;
  width: 100%;
  margin-bottom: -7px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
