body{
    margin: 0;
    font-family: Questrial;
}

.navbar-custom {
  background-image: linear-gradient(
    to bottom right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );
  color: white;
}

.navbar-dark .navbar-custom {
  color: white;
}

.header{
    margin-top: 70px;
}

.header h1{
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
}

.select-coins{
    margin-top: 15px;
    width: 100%;
    height: cover;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom right, #5ce1e6, #38b6ff, #5271ff);
}

.select-coin-image{
    border-radius: 50%;
    padding: 5px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 5px;
    border: 3px solid black;
}

.select-coin-image:hover, .select-coin-image:focus{
    opacity: .7;
    box-shadow: 0 0.95em -.4em var(--hover);
    transform: translateY(-.45em);
    border: 5px solid rgb(0, 0, 0);
}

.select-coin-image img{
    height: 40px;
}

.select-coin-image img:hover, img:focus{
    box-shadow: 0 0.2em -.1em var(--hover);
    transform: translateY(-.05em);
}

.dashboard-header{
    height: cover;
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputAmt{
    width: 50px;
}

.token-div{
    height: 80px;
    background-color: aliceblue;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding-right: 45px;
    position: relative;
    border-bottom: 2px solid black;
}

.dashboard-token-img{
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}



