body {
  margin: 0;
  font-family: Questrial;
  font-weight: 400;
  width: 100%;
}

#id {
  display: inline;
  position: relative;
}

.company {
  color: white;
  font-weight: 500;
  font-size: 25px;
}

.logo{
  height: 50px;
}

.nav-link {
  font-size: 24px;

  background: -webkit-linear-gradient(right, rgba(3, 3, 139, 0.85),
    rgba(59, 2, 59, 0.85));
    letter-spacing: 1.12px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav-right {
  margin-right: 10%;
  position: relative;
}

.navbar-toggler{
  margin-left: 25px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler{
  border-color: black;
}

.brand {
  font-size: 34px;
  background: -webkit-linear-gradient(right,rgba(3, 3, 139, 0.85),
    rgba(59, 2, 59, 0.85));
  letter-spacing: 1.3px;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.navbar-custom {
  
  color: white;
}


.navbar-custom .nav-text-custom {
  color: blue;
}

header {
  position: relative;
  background-position: top;
  background-image: url(headerbackground.jpeg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  color: blue;
  opacity: 0.9;
  height: 95vh;
  width: 100%;
}

.header-div {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 3px solid black;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom right,
    rgba(3, 3, 139, 0.85),
    rgba(59, 2, 59, 0.85)
  );
}

.header-company-name {
  display: block;
  font-size: 60px;
  font-weight: 700;
}

.header-company-sub {
  display: block;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 4.2px;
}

#purpose {
  height: 100vh;
  width: 100%;
}

.purpose-head {
  font-size: 70px;
  font-weight: 700;
  margin-top: 90px;
  letter-spacing: 3px;
}

.dashboard-div {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 45%;
  margin-top: 100px;
  position: relative;
background-image: linear-gradient(
    to bottom right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );
  color: white;
  font-size: 20px;
  margin-right: 5px;
}

  .dashboard-div-inner{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
  flex-direction: column;
  height: 400px;
  width: 90%;
  border: 3px solid white;
  position: relative;
  margin-top: 20px;
    padding: 30px;
  background-image: linear-gradient(
    to bottom right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );}

.dashboard-bullets{
  display: flex;
  width: 100%;
  border-bottom: 1px solid white;
  justify-content: center;
padding-top: 10px;
}

.dashboard-bullets h3{
  font-size: 31px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.dashboard-div-2 {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 45%;
  margin-top: 100px;
  position: relative;
background-image: linear-gradient(
    to bottom right,
    rgb(25, 25, 196),
    rgb(107, 29, 107)
  );
  margin-left: 5px;
  color: white;
  font-size: 20px;
}

#dashboard-signup{
  border-radius: 5px;
  background: -webkit-linear-gradient(right, #5ce1e6, #38b6ff, #5271ff);
    letter-spacing: 1.12px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: white;

}

.dashboard {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
}

.dashboard-text {
  margin-top: 40px;
  display: block;
  font-size: 30px;
  letter-spacing: 2px;
}

.reccommend-div {
  display: inline;
  height: 450px;
  width: 40%;
  margin-left: 30px;
  position: relative;
  margin-top: 80px;
}

.reccommend {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
}

.reccommend-text {
  margin-top: 40px;
  display: block;
  font-size: 30px;
  letter-spacing: 2px;
}

.custom-logo-flex{
  margin-top: 50px;
}

#accumint {
  background-color: white;
  height: cover;
  width: 100%;
}

.accumint-head{
   background: -webkit-linear-gradient(right, rgba(3, 3, 139, 0.85),
    rgba(59, 2, 59, 0.85));
    letter-spacing: 1.12px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: 700;
  margin-top: 80px;
  text-transform: uppercase;
}

#accumint-paragraph{
  color: black;
  margin-top: 50px;
}


#wheelLogo{
  height: 100px;
  animation: rotationWheel 6s infinite linear;
  backface-visibility: hidden;
}

#circleLogo{
  height: 400px;
  position:absolute;
  backface-visibility: hidden;
}

@keyframes rotationWheel{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes rotationCircle{
  0%{
    transform: rotate3d(1, 1, 1, 0deg);
  }

  50%{
    transform: rotate3d(1, 1, 1, 180deg);
  }
  100%{
    transform: rotate3d(1, 1, 1, 359deg);
  }
}

.accumint-para{
  font-size: 30px;
}
